[submodule "atmos_cubed_sphere"]
   path = atmos_cubed_sphere
   url = https://github.com/vyudinspb/GFDL_atmos_cubed_sphere
   branch = ufswam_swo
[submodule "ccpp/framework"]
  path = ccpp/framework
  url = https://github.com/NCAR/ccpp-framework
  branch = main
[submodule "ccpp/physics"]
  path = ccpp/physics
  url = https://github.com/vyudinspb/ccpp-physics
  branch = ufswam_swo
[submodule "upp"]
  path = upp
  url = https://github.com/NOAA-EMC/UPP
  branch = develop
